/* @group RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}


// remember to define focus styles!
:focus {
  outline: 0;
}



// remember to highlight inserts somehow!
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}



// tables still need 'cellspacing="0"' in the markup
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* @end */

/* @group Font-Face CSS3 */

@font-face {
	font-family: Museo;
	src: url("MuseoSans.otf") format("opentype");
}

@font-face {
	font-family: Museo;
	font-style: italic;
	src: url("MuseoSansItalic.otf") format("opentype");
}

/* @end */

*{
	-webkit-user-select: none;
	
	user-select: none;
	margin: 0;
	padding: 0;
}

html{
	height: 100%;
	margin: 0;
	font-family: Museo, Helvetica, sans-serif;
}

body{
	width: 800px;
	margin: 0 auto;
	text-align: center;
	color: #676767;
	background-color: #cccccf;
	background-image: -moz-linear-gradient(90deg, #FFFFFF, #bbbbbf);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bbbbbf), to(#FFFFFF));
}

a{
	text-decoration: none;
}

img{
	border: none;
}

strong{
	font-weight: bold;
	
}

#theBadHider{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #000;
	opacity: 0.7;
	color: #FFF;
	z-index: 1000;
}

#theBadHider p{
	position: absolute;
	left: 50%;
	top: 0px;
	height: 300px;
	width: 800px;
	line-height: 16px;
	font-size: 12px;
	margin-left: -400px;
	margin-top: 100px;
}

#theNiceHider
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	margin: 0;
	padding-top: 2px;
	background-color: white;
	border-top: 1px solid #DDD;
	height: 16px;
	overflow: hidden;
	display: none;
}

#theNiceHider p
{
	font-size: 11px;
	color: #444;
	margin: 0;
	padding: 0;
}

/* @group Title */

.title{
	text-align: center;
	margin: auto;
	height: 300px;
	width: 600px;
	clear: both;
	position: absolute;
	left: 50%;
	margin-left: -300px;
	font-size: 100px;
	color: #AAA;
	text-shadow: 0px 2px 1px #FFF;
	
	-webkit-mask-image: -webkit-gradient(linear, left top, 
	left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,.3)));
	-webkit-transition-property: color;
	-webkit-transition-duration: 1s;
	
	
	transition-property: color;
	transition-duration: 1s;
}

.title:hover{
	color: #333;
	cursor: pointer;
	-webkit-transition-property: color;
	-webkit-transition-duration: 1s;
	
	
	transition-property: color;
	transition-duration: 1s;
}

.online{color:#7EB700;-webkit-transition-property: color;-webkit-transition-duration: 1s;}
.online:hover{color:#5A9504;-webkit-transition-property: color;-webkit-transition-duration: 1s;}

.offline{color:#CC5566;-webkit-transition-property: color;-webkit-transition-duration: 1s;}
.offline:hover{color:#BB2222;-webkit-transition-property: color;-webkit-transition-duration: 1s;}

.konami{color:#3065E2;-webkit-transition-property: color;-webkit-transition-duration: 1s;}
.konami:hover{color:#1045FF;-webkit-transition-property: color;-webkit-transition-duration: 1s;}

/* @end */

/* @group Spinner */

#flip-container {
     position: absolute;
     top: 50%;
     left: 50%;
     margin: 10px auto;
     width: 600px;
     height: 200px;
     margin-top: -100px;
     margin-left: -300px;
   }
   .face.back {
     display: none;
   }

@media all and (-webkit-transform-3d) {
	
	/* Use the media query to determine if 3D transforms are supported */
	
	#flip-container {
		-webkit-perspective: 1000;
	}
	#flip-card {
		width: 100%;
		height: 100%;
		-webkit-transform-style: preserve-3d;
		-webkit-transition: -webkit-transform 1.5s;
	}
	#flip-card.flipped {
		-webkit-transform: rotateX(-180deg);
     }
	.face {
		position: absolute;
		width: 100%;
		height: 100%;
		padding-top: 30px;
		-webkit-backface-visibility: hidden;
	}
	
	.face.back {
		display: block;
		padding: 0px;
		-webkit-transform: rotateX(-180deg);
		-webkit-box-sizing: border-box;
	}
}

#backwrapper{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 5;
	padding-top: 30px;
	display: block;
	padding: 0px;
	font-size: 12pt;
	color: #444;
	text-align: center;
	background-color: #FFFFFF;
	border: 1px solid #FFF;
	-webkit-box-shadow: rgba(0,0,0,.4) 0px 1px 4px;
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.20), rgba(0,0,0,0.12) 0px 0px 10px inset;
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,0.20), rgba(0,0,0,0.12) 0px 0px 10px inset;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	
	border-radius: 6px;
	border: 1px solid #fff;
	overflow: hidden;
}

/* @end */

/* @group Back-Face */

#closebox{
	position: absolute;
	top: -12px;
	left: -13px;
	height: 31px;
	width: 29px;
	cursor: pointer;
	z-index: 10;
	background-image: url('../images/close.png');
}

.face>div{
	
}

#goRight{
	display: block;
	position: absolute;
	bottom: -40px;
	right: 0px;
	height: 32px;
	width: 133px;
	background-image: url('../images/goPortfolio.png');
}

#goRight:active{
	background-position: bottom;
}

#goLeft{
	display: block;
	display: none;
	position: absolute;
	bottom: -40px;
	left: 0px;
	height: 32px;
	width: 133px;
	background-image: url('../images/goMe.png');
}

#goLeft:active{
	background-position: bottom;
}

#scrollWrap{
	width: 9999px;
	height: 200px;
	text-align: left;
}

#scrollWrap>div{
	display: inline-block;
}

.divMagic{
	position: absolute;
	height: 200px;
	width: 200px;
	top: 0px;
	left: 0px;
	overflow: hidden;
}

/* @group Me */

.emoji{
	
}

#back-left{
	width: 200px;
	height: 200px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	text-align: center;
	position: relative;
}

#cycleWrapper
{
	width: 65px;
	height: 150px;
	position: absolute;
	margin-top: 8px;
	margin-left: 8px;
}

#cycleOverlay
{
	width: 65px;
	height: 150px;
	position: absolute;
	top: 0px;
	left: 0px;
	background-image: url('../images/overlayPhoto.png');
	z-index: 100;
}

#cycleImages
{
	width: 65px;
	height: 150px;
	position: absolute;
	top: 0px;
	left: 0px;	
}

#me{
	margin: 0;
	padding: 0;
	width: 200px;
	height: 150px;
	margin-right: 0px;
}

#presentation{
	position: absolute;
	width: 120px;
	height: 150px;
	font-size: 10px;
	text-align: left;
	line-height: 12px;
	left: 80px;
	margin-top: 10px;
	text-shadow: 0px 1px 0px #FFF;
}


#presentation em{
	color: #111;
}

#presentation em.french1{
	color: #24A;
}

#presentation em.french2{
	color: #888;
}

#presentation em.french3{
	color: #A42;
}

#presentation p a{
	text-decoration: underline;
	color: #111;
	padding-left: 2px;
	padding-right: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;

	-webkit-transition-property: color, background-color,text-shadow;
	-webkit-transition-duration: 0.5s;
}


#presentation p a:hover{
	color: #FFF;
	background-color: #111;
	text-shadow: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;

}

#me p{margin:0px;}

/* @end */

/* @group Contact */

#back-right{
	width: 200px;
	height: 200px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	text-align: center;
	position: relative;
}

#contact{
	margin: 0;
	padding: 0;
	margin-top: 9px;
	margin-left: 5px;
	width: 180px;
	height: 150px;
}

#contact p{margin:0px;}


#contact div p{
	height: 12px;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 12px;
	text-align: left;
	text-shadow: 0px 1px 0px #FFFFFF;
	font-family: Verdana ,Helvetica, sans-serif;
	font-weight: bold;
	-webkit-transition-property: padding-left;
	-webkit-transition-duration: 1s;
	
	
	transition-property: padding-left;
	transition-duration: 1s;
}

#contact div p:hover{
	padding-left: 20px;
	-webkit-transition-property: padding-left;
	-webkit-transition-duration: 1s;
	
	
	transition-property: padding-left;
	transition-duration: 1s;
}

#contact div p a{
	width: 100%;
	height: 100%;
	display: block;
	-webkit-mask-image: -webkit-gradient(linear, left top, 
	left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.5)));
}

#contact hr{
	border: none;
	height: 1px;
	margin-top: 7px;
	margin-bottom: 6px;
	background: -webkit-gradient(linear, left top, 
	right top, from(rgba(0,0,0,0.0)), color-stop(50%, rgba(0,0,0,0.3)), to(rgba(0,0,0,0.0)));
}
#contact div p img{float: right;margin-top: -2px;}

#contact-twitter{color: #40acDd;}
#contact-facebook{color: #4067AD;}
#contact-flickr{color: #3583E4;}
#contact-flickr em{color: #FF0096; font-style: normal;}
#contact-ichat{color:#CCCCCC;}
#contact-ichat.online{color:#448900;}
#contact-ichat.offline{color:#8B0000;}
#contact-mail{color:#222;}
#contact-lastfm{color: #D20F02;}


/* @end */

/* @group Map */

#back-center{
	width: 200px;
	height: 200px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	text-align: center;
	position: relative;
}

#map{
	margin: 0;
	padding: 0;
	width: 180px;
	height: 150px;
	margin: auto;
	margin-top: 8px;
	-webkit-border-radius: 20px;
}

#map a{height: 150px; width: 180px; overflow:hidden; display:block;}

#map p{margin: 0;}

.pixelated{
	padding-top: 4px;
	font-family: Museo;
	font-size: 8px;
	text-align: center;
	color: #555;
}

/* @end */

.box-title{
	margin: 0;
	margin-top: 8px;
	text-shadow: 0px 1px 0px #FFFFFF;
}

/* @group Portfolio */

.divMagicRe{
	position: absolute;
	height: 200px;
	width: 600px;
	top: 0px;
	left: 0px;
	overflow: hidden;
}

#back-portfolio{
	width: 600px;
	height: 200px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	text-align: center;
	position: relative;
}

#portfolioDiv{
	position: relative;
	margin: 0;
	padding: 0;
	width: 600px;
	height: 180px;
	margin: auto;
	margin-top: 8px;
	overflow: hidden;
}

#portfolioScrollWrap
{
	width: 9999px;
	overflow: hidden;
	text-align: left;
	position: relative;
}

#portfolioScrollWrap a
{
	display:inline-block;
	vertical-align: top;
	height: 170px;
	width: 180px;
	font-size: 10px;
	color: #555;
	text-shadow: 0px 1px 0px #FFF;
	text-align: center;
	margin-left: 10px; margin-right: 10px;
}
#portfolioScrollWrap a img{margin-bottom: 3px;}

#portfolioNav{
	position: absolute;
	width: 200px;
	left: 50%;
	bottom: -30px;
	font-size: 20px;
	margin-left: -100px;
	text-align: center;
	display: none;
}

#portfolioNav a{
	color: #BBB;
	text-shadow: 0px 1px 0px #FFF;
	-webkit-transition: color 1s;
}

#portfolioNav a:hover{
	color: #555;
	-webkit-transition: color 1s;
}

#portfolioNav a.current{
	color: #555;
	-webkit-transition: color 1s;
}

/* @end */


/* @group Hidden boxes */

#lastfm{
	height: 180px;
	width: 220px;
	background-color: #FFF;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 3;
	border: 1px solid #fff;
	-webkit-box-shadow: rgba(0,0,0,.4) 0px 1px 4px;
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.20), rgba(0,0,0,0.12) 0px 0px 10px inset;
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,0.20), rgba(0,0,0,0.12) 0px 0px 10px inset;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	
	-webkit-transition-property: top, right;
	-webkit-transition-duration: 1s;
}

#lastfm p a{
	color: #111;
	padding-left: 2px;
	padding-right: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;

	-webkit-transition-property: color, background-color,text-shadow;
	-webkit-transition-duration: 0.5s;
}

.lastfm
{
	margin-left: 23px;
}

#lastfm p a:hover{
	color: #FFF;
	background-color: #111;
	text-shadow: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;

}

#innerLastFM{
	overflow: auto;
	height: 130px;
	width: 172px;
	margin-left: 23px;
	font-size: 10px;
	padding: 10px;
	padding-top: 10px;
	-webkit-mask-image: -webkit-gradient(linear, left top, 
	left bottom, from(rgba(0,0,0,0)), color-stop(10%, rgba(0,0,0,1)), color-stop(90%, rgba(0,0,0,1)), to(rgba(0,0,0,0.0)));
}

#innerLastFM hr{
	border: none;
	height: 1px;
	margin-top: 7px;
	margin-bottom: 6px;
	background: -webkit-gradient(linear, left top, 
	right top, from(rgba(0,0,0,0.0)), color-stop(50%, rgba(0,0,0,0.3)), to(rgba(0,0,0,0.0)));
}

#innerLastFM p a{
	color: #111;
	padding-left: 2px;
	padding-right: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;

	-webkit-transition-property: color, background-color,text-shadow;
	-webkit-transition-duration: 0.5s;
}


#innerLastFM p a:hover{
	color: #FFF;
	background-color: #111;
	text-shadow: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;

}

#innerLastFM em{
	color: #111;
	font-style: normal;
}

#innerLastFM .emoji{
	height: 16px;
	width: 16px;
}

#lastfm.show{
	top: -30px;
	right: -200px;
	-webkit-transition-property: top, right;
	-webkit-transition-duration: 1s;
}

.twitter{
	width: 200px;
	padding: 0;
	text-align: center;
}

#twitter{
	height: 180px;
	width: 220px;
	background-color: #FFF;
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 3;
	border: 1px solid #fff;
	overflow: hidden;
	-webkit-box-shadow: rgba(0,0,0,.4) 0px 1px 4px;
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.20), rgba(0,0,0,0.12) 0px 0px 10px inset;
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,0.20), rgba(0,0,0,0.12) 0px 0px 10px inset;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;	
	-webkit-transition-property: top, left;
	-webkit-transition-duration: 1s;
}

#twitter p a{
	color: #111;
	padding-left: 2px;
	padding-right: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-transition-property: color, background-color,text-shadow;
	-webkit-transition-duration: 0.5s;
}


#twitter p a:hover{
	color: #FFF;
	background-color: #111;
	text-shadow: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;

}

#innerTwitter{
	overflow: auto;
	height: 130px;
	width: 172px;
	font-size: 10px;
	padding: 10px;
	padding-top: 10px;
	-webkit-mask-image: -webkit-gradient(linear, left top, 
	left bottom, from(rgba(0,0,0,0)), color-stop(10%, rgba(0,0,0,1)), color-stop(90%, rgba(0,0,0,1)), to(rgba(0,0,0,0.0)));
}

#innerTwitter hr{
	border: none;
	height: 1px;
	margin-top: 7px;
	margin-bottom: 6px;
	background: -webkit-gradient(linear, left top, 
	right top, from(rgba(0,0,0,0.0)), color-stop(50%, rgba(0,0,0,0.3)), to(rgba(0,0,0,0.0)));
}

#innerTwitter p a{
	color: #111;
	padding-left: 2px;
	padding-right: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;

	-webkit-transition-property: color, background-color,text-shadow;
	-webkit-transition-duration: 0.5s;
}


#innerTwitter p a:hover{
	color: #FFF;
	background-color: #111;
	text-shadow: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;

}

#innerTwitter .emoji{
	height: 16px;
	width: 16px;
}


#twitter.show{
	top: 50px;
	left: -200px;
	-webkit-transition-property: top, left;
	-webkit-transition-duration: 1s;
}


/* @end */

/* @end */

/* @group Scrollbar Style */

::-webkit-scrollbar {
    width: 4px;
    height: 6px;
}
 
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 10px;
}
 
::-webkit-scrollbar-button:vertical:increment {
    background-color: #fff;
}
 
::-webkit-scrollbar-track-piece {
    background-color: #ddd;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
 
::-webkit-scrollbar-thumb:vertical {
    /*background: -webkit-gradient(linear, left top, 
    left bottom, from(rgba(0,0,0,0.0)), color-stop(50%, #AAA), to(rgba(0,0,0,0.0)));;*/
    background-color: #999;
    height: 50px;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
 
::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #ccc;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

/* @end */

/* @end */