%footer
	Made on a
	%svg
		%use{"xlink:href" => "/resources/icons.svg#apple"}
	using Sketch.app &amp; Vim.
{% if page.blog != true %}
%script{:src => "/script/script.js", :type => "text/javascript"}
{% endif %}
