%header
	#header{:class => "{{ page.animation }}"}
		#gameboy
			.letter
				.inside
					%svg{:xmlns => "http://www.w3.org/2000/svg", :width => "100%", :viewBox => "0 0 2135 340"}
						%path{:d => "M68.516,262l-67.984,-255.199l72.516,0l31.377,145.903c0.813,3.718 1.511,7.931 2.092,12.638c0.581,4.706 1.104,10.139 1.569,16.298c2.208,-6.391 4.328,-12.173 6.362,-17.344c2.034,-5.172 3.69,-9.268 4.968,-12.29l67.635,-145.205l76.002,0l-135.27,255.199l-59.267,0Z"}
			.letter
				.inside
					%svg{:xmlns => "http://www.w3.org/2000/svg", :width => "100%", :viewBox => "0 0 2135 340"}
						%path{:d => "M240.053,262l27.716,-176.06l62.58,0l-27.891,176.06l-62.405,0Zm32.423,-228.529c0,-9.064 3.225,-16.85 9.674,-23.358c6.45,-6.508 14.265,-9.762 23.446,-9.762c9.646,0 17.664,3.138 24.056,9.413c6.391,6.276 9.587,14.178 9.587,23.707c0,9.413 -3.254,17.374 -9.762,23.882c-6.508,6.507 -14.468,9.761 -23.881,9.761c-9.181,0 -16.996,-3.283 -23.446,-9.849c-6.449,-6.566 -9.674,-14.497 -9.674,-23.794Z"}
			.letter
				.inside
					%svg{:xmlns => "http://www.w3.org/2000/svg", :width => "100%", :viewBox => "0 0 2135 340"}
						%path{:d => "M397.471,262l-60.314,-176.06l63.974,0l24.579,87.159c1.162,3.951 2.15,8.396 2.963,13.335c0.814,4.939 1.395,10.081 1.743,15.427c3.138,-7.438 5.869,-13.655 8.193,-18.652c2.325,-4.997 4.242,-8.716 5.753,-11.156l48.111,-86.113l67.809,0l-108.773,176.06l-54.038,0Z"}
			.letter
				.inside
					%svg{:xmlns => "http://www.w3.org/2000/svg", :width => "100%", :viewBox => "0 0 2135 340"}
						%path{:d => "M552.274,262l27.716,-176.06l62.579,0l-27.89,176.06l-62.405,0Zm32.422,-228.529c0,-9.064 3.225,-16.85 9.675,-23.358c6.45,-6.508 14.265,-9.762 23.446,-9.762c9.645,0 17.664,3.138 24.055,9.413c6.392,6.276 9.588,14.178 9.588,23.707c0,9.413 -3.254,17.374 -9.762,23.882c-6.508,6.507 -14.468,9.761 -23.881,9.761c-9.181,0 -16.996,-3.283 -23.446,-9.849c-6.45,-6.566 -9.675,-14.497 -9.675,-23.794Z"}
			.letter
				.inside
					%svg{:xmlns => "http://www.w3.org/2000/svg", :width => "100%", :viewBox => "0 0 2135 340"}
						%path{:d => "M719.104,188.787l0,4.009c0,11.157 2.847,19.64 8.542,25.451c5.694,5.81 14.003,8.715 24.927,8.715c7.67,0 14.904,-1.597 21.702,-4.793c6.799,-3.196 14.091,-8.338 21.877,-15.427l33.469,33.817c-9.994,9.529 -21.528,16.676 -34.602,21.441c-13.074,4.765 -27.687,7.147 -43.84,7.147c-28.705,0 -50.988,-7.641 -66.851,-22.923c-15.863,-15.281 -23.794,-36.693 -23.794,-64.235c0,-30.099 9.442,-54.561 28.326,-73.387c18.885,-18.827 43.318,-28.24 73.301,-28.24c27.193,0 49.069,8.309 65.63,24.928c16.56,16.618 24.84,38.64 24.84,66.065c0,2.441 -0.349,6.857 -1.046,13.249c-0.233,1.975 -0.407,3.37 -0.523,4.183l-131.958,0Zm75.305,-35.735c-0.581,-9.529 -3.777,-17.083 -9.587,-22.661c-5.811,-5.578 -13.481,-8.367 -23.01,-8.367c-8.6,0 -16.299,2.731 -23.097,8.193c-6.798,5.462 -11.941,13.073 -15.427,22.835l71.121,0Z"}
			.letter
				.inside
					%svg{:xmlns => "http://www.w3.org/2000/svg", :width => "100%", :viewBox => "0 0 2135 340"}
						%path{:d => "M866.237,262l27.891,-176.06l59.616,0l-4.358,27.542c9.646,-11.621 19.233,-20.046 28.762,-25.275c9.53,-5.23 19.931,-7.845 31.203,-7.845c18.245,0 32.394,4.91 42.446,14.73c10.052,9.82 15.079,23.562 15.079,41.226c0,6.043 -1.046,16.095 -3.138,30.157c-0.116,1.278 -0.233,2.324 -0.349,3.137l-14.642,92.388l-62.231,0l14.642,-93.259c0.465,-2.673 0.843,-5.288 1.133,-7.845c0.291,-2.556 0.436,-4.764 0.436,-6.624c0,-7.669 -2.034,-13.48 -6.101,-17.431c-4.067,-3.951 -10.052,-5.927 -17.955,-5.927c-10.807,0 -19.261,3.893 -25.363,11.679c-6.101,7.786 -10.488,20.221 -13.16,37.304l-12.551,82.103l-61.36,0Z"}
			.letter
				.inside
					%svg{:xmlns => "http://www.w3.org/2000/svg", :width => "100%", :viewBox => "0 0 2135 340"}
						%path{:d => "M1198.16,262l40.267,-255.199l68.68,0l-30.854,194.188l84.37,0l-9.588,61.011l-152.875,0Z"}
			.letter
				.inside
					%svg{:xmlns => "http://www.w3.org/2000/svg", :width => "100%", :viewBox => "0 0 2135 340"}
						%path{:d => "M1434.02,188.787l0,4.009c0,11.157 2.847,19.64 8.541,25.451c5.695,5.81 14.004,8.715 24.928,8.715c7.669,0 14.904,-1.597 21.702,-4.793c6.798,-3.196 14.09,-8.338 21.877,-15.427l33.468,33.817c-9.994,9.529 -21.528,16.676 -34.601,21.441c-13.074,4.765 -27.688,7.147 -43.841,7.147c-28.704,0 -50.987,-7.641 -66.85,-22.923c-15.863,-15.281 -23.795,-36.693 -23.795,-64.235c0,-30.099 9.442,-54.561 28.327,-73.387c18.884,-18.827 43.317,-28.24 73.3,-28.24c27.193,0 49.07,8.309 65.63,24.928c16.56,16.618 24.84,38.64 24.84,66.065c0,2.441 -0.349,6.857 -1.046,13.249c-0.232,1.975 -0.407,3.37 -0.523,4.183l-131.957,0Zm75.304,-35.735c-0.581,-9.529 -3.776,-17.083 -9.587,-22.661c-5.811,-5.578 -13.48,-8.367 -23.01,-8.367c-8.599,0 -16.298,2.731 -23.097,8.193c-6.798,5.462 -11.94,13.073 -15.427,22.835l71.121,0Z"}
			.letter
				.inside
					%svg{:xmlns => "http://www.w3.org/2000/svg", :width => "100%", :viewBox => "0 0 2135 340"}
						%path{:d => "M1581.15,262l27.89,-176.06l59.617,0l-4.358,29.983c5.462,-11.156 12.783,-19.64 21.964,-25.45c9.18,-5.811 19.872,-8.716 32.074,-8.716c1.278,0 2.731,0.087 4.358,0.261c1.627,0.175 4.183,0.552 7.67,1.133l-12.377,55.259c-4.067,-0.93 -7.728,-1.627 -10.982,-2.092c-3.254,-0.465 -6.391,-0.697 -9.413,-0.697c-11.97,0 -21.412,3.747 -28.326,11.243c-6.915,7.496 -11.65,19.088 -14.207,34.776l-12.551,80.36l-61.359,0Z"}
			.letter
				.inside
					%svg{:xmlns => "http://www.w3.org/2000/svg", :width => "100%", :viewBox => "0 0 2135 340"}
						%path{:d => "M1729.15,182.337c0,-29.866 9.762,-54.386 29.286,-73.561c19.523,-19.175 44.508,-28.762 74.956,-28.762c28.123,0 50.609,7.96 67.46,23.881c16.851,15.921 25.276,37.187 25.276,63.8c0,29.518 -9.878,53.805 -29.634,72.864c-19.756,19.059 -45.206,28.588 -76.35,28.588c-27.543,0 -49.593,-7.902 -66.154,-23.707c-16.56,-15.805 -24.84,-36.839 -24.84,-63.103Zm103.021,-51.772c-12.086,0 -22.341,5.085 -30.766,15.253c-8.426,10.169 -12.638,22.574 -12.638,37.217c0,10.807 3.079,19.407 9.238,25.798c6.16,6.392 14.352,9.588 24.579,9.588c12.899,0 23.504,-4.91 31.813,-14.73c8.309,-9.82 12.463,-22.399 12.463,-37.739c0,-10.924 -3.108,-19.553 -9.326,-25.886c-6.217,-6.334 -14.671,-9.501 -25.363,-9.501Z"}
			.letter
				.inside
					%svg{:xmlns => "http://www.w3.org/2000/svg", :width => "100%", :viewBox => "0 0 2135 340"}
						%path{:d => "M1985.06,253.11l-50.029,-167.17l64.323,0l15.34,76.002c0.232,1.046 0.581,2.557 1.045,4.533c2.209,10.226 3.429,18.942 3.661,26.147c1.278,-4.532 2.934,-9.384 4.968,-14.555c2.034,-5.172 4.503,-10.779 7.409,-16.822l36.432,-75.305l66.763,0l-136.664,253.805l-65.02,0l51.772,-86.635Z"}
		%p
			Software engineer
			%a#vcard{:title => "Download my vCard", :href => "http://fantattitude.me/resources/vivien.vcf"}
				%svg
					%use{"xlink:href" => "/resources/icons.svg#vcard"}
	.overlay
#social
	%a#bio{:title => "About me", :class => "{% if page.blog != true and layout.blog != true %}active{% endif %}", :href => '/'}
		%svg
			%use{"xlink:href" => "/resources/icons.svg#me"}
	%a#blog{:title => "Blog", :class => "{% if page.blog == true or layout.blog == true %}active{% endif %}", :href => '/blog'}
		%svg
			%use{"xlink:href" => "/resources/icons.svg#blog"}
	%a#twitter{:title => "Twitter", :href => 'http://twitter.com/Fantattitude'}
		%svg
			%use{"xlink:href" => "/resources/icons.svg#twitter"}
	%a#github{:title => "GitHub", :href => 'http://github.com/Fantattitude'}
		%svg
			%use{"xlink:href" => "/resources/icons.svg#github"}
	%a#dribbble{:title => "Dribbble", :href => 'http://dribbble.com/Fantattitude'}
		%svg
			%use{"xlink:href" => "/resources/icons.svg#dribbble"}
	%a#lastfm{:title => "Last.fm", :href => 'http://last.fm/user/Fantattitude'}
		%svg
			%use{"xlink:href" => "/resources/icons.svg#lastfm"}
