@font-face {
  font-family: "fanta-icon";
  src: url("../resources/fanta-icon.eot") format("eot"), url("../resources/fanta-icon.woff") format("woff"), url("../resources/fanta-icon.svg") format("svg"), url("../resources/fanta-icon.ttf") format("truetype"); }
* {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  -webkit-font-smoothing: antialiased; }

.separator {
  height: 62px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

header {
  background-color: #e0e4cc;
  color: #60644c;
  text-shadow: 0px 2px 0px #c1c999;
  margin: 0;
  padding: 50px;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden; }
  header .overlay {
    pointer-events: none;
    background-image: url("../resources/reflection.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 634px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -317px; }
  header *::selection {
    color: white;
    background-color: #60644c; }
  header .text {
    position: relative;
    top: -200px;
    -webkit-transition: top 3s linear;
    -moz-transition: top 3s linear;
    transition: top 3s linear; }
  header #header
  {
    position: relative;
    top: 0px;
  }
  header .animate {
    position: relative;
    top: 0px;
    -webkit-transition: top 3s linear;
    -moz-transition: top 3s linear;
    transition: top 3s linear; }
  header h1 {
    font-size: 78px;
    line-height: 69px;
    margin-bottom: 30px; }
  header p {
    color: #878b73;
    font-size: 30px;
    text-transform: lowercase; }
    header p > #vcard {
      font-family: "fanta-icon";
      color: #878b73;
      text-decoration: none;
      margin-left: 15px;
      position: relative;
      top: 4px; }

#social {
  height: 125px;
  text-align: center;
  max-width: 1024px;
  margin: 0 auto;
  font-family: "fanta-icon";
  font-weight: normal;
  font-size: 60px;
  line-height: 130px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  #social > a {
    display: inline-block;
    width: 15%;
    height: 100%;
    color: #bfbfbf;
    background-position: center center;
    background-repeat: no-repeat;
    text-decoration: none;
    -webkit-transition: background-color 0.25s, box-shadow 0.25s, -webkit-transform 0.5s;
    -moz-transition: background-color 0.25s, box-shadow 0.25s, -webkit-transform 0.5s;
    transition: background-color 0.25s, box-shadow 0.25s, -webkit-transform 0.5s; }
    #social > a.active {
      color: #444444; }
    #social > a:hover {
      background-color: gray;
      -webkit-transition: background-color 0.25s, box-shadow 0.25s, -webkit-transform 0.5s;
      -moz-transition: background-color 0.25s, box-shadow 0.25s, -webkit-transform 0.5s;
      transition: background-color 0.25s, box-shadow 0.25s, -webkit-transform 0.5s; }
    #social > a:active {
      box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.3);
      -webkit-transition: background-color 0.25s, box-shadow 0.25s, -webkit-transform 0.5s;
      -moz-transition: background-color 0.25s, box-shadow 0.25s, -webkit-transform 0.5s;
      transition: background-color 0.25s, box-shadow 0.25s, -webkit-transform 0.5s; }

#presentation {
  background-color: #ff6b6b;
  padding: 50px;
  color: white;
  text-shadow: 0px 2px 0px #cc3838; }
  #presentation *::selection {
    color: #ff6b6b;
    background-color: white;
    text-shadow: none; }
  #presentation h2 {
    font-size: 36px;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 1024px; }
  #presentation p {
    margin: 0 auto;
    font-size: 20px;
    line-height: 30px;
    max-width: 1024px; }

#build {
  background-color: #f38630;
  padding: 50px;
  padding-bottom: 0px;
  color: white;
  text-shadow: 0px 2px 0px #c05300;
  position: relative;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  #build pre {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 26px;
    width: 1024px;
    position: absolute;
    top: -600px;
    left: 10%;
    text-align: left;
    color: #ca6e26;
    margin: 0 auto;
    text-shadow: none;
    -webkit-transform: rotateX(128deg) rotateY(192deg) rotateZ(157deg) scale3d(0.7, 0.7, 0.7);
    -moz-transform: rotateX(128deg) rotateY(192deg) rotateZ(157deg) scale3d(0.7, 0.7, 0.7);
    transform: rotateX(128deg) rotateY(192deg) rotateZ(157deg) scale3d(0.7, 0.7, 0.7);
    z-index: 1; }
  #build h2 {
    font-size: 36px;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 1024px;
    position: relative;
    z-index: 2; }

/* Browser */
.browser {
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
  min-width: 346px;
  overflow: hidden;
  position: relative;
  z-index: 3; }
  .browser .bar {
    height: 80px;
    width: 100%; }
    .browser .bar .left {
      float: left;
      background: url("../resources/safari.png") 0 0 no-repeat;
      width: 171px;
      height: 100%;
      background-size: 346px 80px; }
    .browser .bar .mid {
      background: url("../resources/safaritop.png") 0 0 repeat-x;
      overflow: hidden;
      height: 100%;
      background-size: 80px 80px; }
    .browser .bar .right {
      float: right;
      background: url("../resources/safari.png") -171px 0 no-repeat;
      width: 175px;
      height: 100%;
      background-size: 346px 80px; }

.content {
  overflow: hidden;
  position: relative; }
  .content .left, .content .right {
    height: 100%;
    background: rgba(255, 0, 0, 0.3);
    width: 49px;
    position: absolute;
    background-size: 98px 1px; }
  .content .left {
    left: 0px;
    background: url("../resources/safarimid.png") repeat-y left top; }
  .content .right {
    right: 0px;
    background: url("../resources/safarimid.png") repeat-y right top; }
  .content .mid {
    margin: 0px 49px;
    padding: 30px 30px;
    background-color: white;
    color: #232323;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); }

/* Fin Browser */
#portfolio {
  background-color: #a7dbd8;
  padding: 50px;
  color: white;
  text-shadow: 0px 2px 0px #74a8a5;
  text-align: center;
  overflow: hidden; }
  #portfolio *::selection {
    color: #a7dbd8;
    background-color: white;
    text-shadow: none; }

#pokecenter > div {
  max-width: 1024px;
  margin: 0 auto; }
#pokecenter .text {
  max-width: 49%;
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;
  text-align: left; }
#pokecenter .image {
  max-width: 49%;
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;
  max-height: 150px; }
#pokecenter img {
  margin-top: -125px;
  margin-right: -300px;
  vertical-align: top; }
#pokecenter h2 {
  font-size: 36px;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 1024px; }
#pokecenter p {
  margin: 0 auto;
  font-size: 20px;
  line-height: 30px;
  max-width: 1024px; }

footer {
  color: #a3a3a3;
  font-size: 18px;
  padding: 25px; }
  footer span {
    font-size: 24px;
    font-family: "fanta-icon"; }

@media screen and (max-width: 480px) {
  header {
    padding: 25px; }
    header h1 {
      font-size: 38px;
      line-height: 29px;
      margin-bottom: 10px; }
    header p {
      font-size: 20px;
      text-transform: lowercase; }

  #social {
    font-size: 32px;
    height: 70px;
    line-height: 70px; }

  #presentation {
    padding: 25px; }
    #presentation h2 {
      font-size: 26px; }
    #presentation p {
      margin: 0 auto;
      font-size: 16px;
      line-height: 20px;
      max-width: 1024px; }

  #build {
    padding: 25px;
    padding-bottom: 0px; }
    #build h2 {
      font-size: 26px;
      margin-bottom: 10px; }

  #portfolio {
    padding: 25px; }

  #pokecenter h2 {
    font-size: 26px; }
  #pokecenter p {
    font-size: 16px;
    line-height: 20px; } }

article.post {
  margin: 0;
  padding: 0;
  width: auto;
  margin-bottom: 40px;
  font-weight: normal;
}


article.post h2.post_title {
  margin: 0;
  padding: 0;
  background-color: #ff6b6b;
  font-weight: bold;
  font-size: 16px;
  color: white;
  padding: 30px 0;
  text-shadow: 0px 2px 0px #cc3838;
  margin-bottom: 40px;
}


article.post h2.post_title a {
  font-size: 28px;
  color: white;
  text-decoration: none;
}


article.post h2.post_title .detail {
  display: block;
  padding-top: 10px;
}


article.post .contenu {
  text-align: center;
}


article.post .contenu hr {
  background: none;
  margin: 0;
}


article.post .contenu ul, article.post .contenu ol {
  margin: 0 auto;
  max-width: 1024px;
}


article.post .contenu p {
  text-align: left;
  font-size: 20px;
  line-height: 32px;
  max-width: 1024px;
  margin: 0 auto;
}


article.post .contenu p a {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  color: #bc0100;
  font-weight: bold;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  -o-perspective: 600px;
  perspective: 600px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}


article.post .contenu p a:hover {
  text-decoration: none;
}


article.post .contenu p a span {
  display: block;
  position: relative;
  padding: 0 2px;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}


article.post .contenu p a:hover span {
  background: #dd4d42;
  -webkit-transform: translate3d(0px, 0px, -30px) rotateX(90deg);
  -moz-transform: translate3d(0px, 0px, -30px) rotateX(90deg);
  -ms-transform: translate3d(0px, 0px, -30px) rotateX(90deg);
  -o-transform: translate3d(0px, 0px, -30px) rotateX(90deg);
  transform: translate3d(0px, 0px, -30px) rotateX(90deg);
}


article.post .contenu p a span:after {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 2px;
  color: white;
  background: #bc0100;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
  -moz-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
  -ms-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
  -o-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
  transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
}


article.post .contenu p img {
  text-align: center;
  max-width: 100%;
}


article.post .contenu p iframe {
  text-align: center;
}


article.post .contenu p.images, article.post .contenu p.iframes {
  text-align: center;
  font-size: 12px;
  margin: 30px auto;
}


article.post .contenu ul, article.post .contenu ol {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 18px;
}


article.post .contenu li {
  text-align: left;
  line-height: 28px;
  margin-bottom: 10px;
}


article.post .contenu .twitter-tweet-rendered {
  margin: auto !important;
}


article.post.color0 *::selection {
  background-color: #c2dc89;
}


article.post.color0 h2.post_title {
  background-color: #c2dc89;
  text-shadow: 0px 2px 0px #9bbf0d;
}


article.post.color0 h2.post_title *::selection {
  background-color: white;
  color: #c2dc89;
  text-shadow: none;
}


article.post.color0 .contenu a {
  color: #c2dc89;
}


article.post.color0 .contenu a:hover span {
  background-color: #e0edc4;
}


article.post.color0 .contenu a span:after {
  background-color: #c2dc89;
}


article.post.color1 *::selection {
  background-color: #a7dbd8;
}


article.post.color1 h2.post_title {
  background-color: #a7dbd8;
  text-shadow: 0px 2px 0px #74a8a5;
}


article.post.color1 h2.post_title *::selection {
  background-color: white;
  color: #a7dbd8;
  text-shadow: none;
}


article.post.color1 .contenu a {
  color: #a7dbd8;
}


article.post.color1 .contenu a:hover span {
  background-color: #dbf0ef;
}


article.post.color1 .contenu a span:after {
  background-color: #a7dbd8;
}


article.post.color2 *::selection {
  background-color: #ff6b6b;
}


article.post.color2 h2.post_title {
  background-color: #ff6b6b;
}

article.post.color2 h2.post_title *::selection {
  background-color: white;
  color: #ff6b6b;
  text-shadow: none;
}

article.post.color2 .contenu a {
  color: #ff6b6b;
}

article.post.color2 .contenu a:hover span {
  background-color: #ffb3b3;
}

article.post.color2 .contenu a span:after {
  background-color: #ff6b6b;
}

article.post.color3 *::selection {
  background-color: #f38630;
}

article.post.color3 h2.post_title {
  background-color: #f38630;
  text-shadow: 0px 2px 0px #c05300;
}

article.post.color3 h2.post_title *::selection {
  background-color: white;
  color: #f38630;
  text-shadow: none;
}

article.post.color3 .contenu a {
  color: #f38630;
}

article.post.color3 .contenu a:hover span {
  background-color: #f7ac73;
}

article.post.color3 .contenu a span:after {
  background-color: #f38630;
}

article.post.color4 *::selection {
  background-color: #12b8b5;
}

article.post.color4 h2.post_title {
  background-color: #12b8b5;
  text-shadow: 0px 2px 0px #0b7472;
}

article.post.color4 h2.post_title *::selection {
  background-color: white;
  color: #12b8b5;
  text-shadow: none;
}

article.post.color4 .contenu a {
  color: #12b8b5;
}

article.post.color4 .contenu a:hover span {
  background-color: #a2f6f4;
}

article.post.color4 .contenu a span:after {
  background-color: #12b8b5;
}

@media screen and (max-width: 446px) {
  .browser {
    width: 100%;
    overflow: hidden;
    position: relative;
    left: 50%;
    margin-left: -173px; } }
@media screen and (max-width: 640px) {
  #pokecenter .text {
    max-width: 100%;
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
    text-align: left; }
  #pokecenter .image {
    max-width: 100%;
    margin: 0 auto;
    margin-top: 0px;
    display: inline-block;
    vertical-align: top;
    max-height: 250px;
    margin-left: -75%; }
  #pokecenter img {
    margin-top: 0px;
    margin-right: 0px;
    vertical-align: top; } }
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .browser .bar .left {
    float: left;
    background: url("../resources/safari@2x.png") 0 0 no-repeat;
    width: 171px;
    height: 100%;
    background-size: 346px 80px; }
  .browser .bar .mid {
    background: url("../resources/safaritop@2x.png") 0 0 repeat-x;
    overflow: hidden;
    height: 100%;
    background-size: 80px 80px; }
  .browser .bar .right {
    float: right;
    background: url("../resources/safari@2x.png") -171px 0 no-repeat;
    width: 175px;
    height: 100%;
    background-size: 346px 80px; }

  .content .left {
    left: 0px;
    background: url("../resources/safarimid@2x.png") repeat-y left top;
    background-size: 98px 1px; }
  .content .right {
    right: 0px;
    background: url("../resources/safarimid@2x.png") repeat-y right top;
    background-size: 98px 1px; } }
