!!!
%html
  %head
    %meta{:charset => 'UTF-8'}
    %title Vivien Leroy is an IT engineer
    %link{:rel => 'stylesheet', :href => '/style.css'}
  %body
    %h1 This is Vivien Leroy's personnal website, deal with it boy !
    %p
      Please.
