!!!
%html
  %head
    %meta{:charset => 'UTF-8'}
    %title Vivien Leroy is an IT engineer
    %link{:rel => 'stylesheet', :href => '/style.css'}
  %body
    %h1
      Vivien Leroy is a damn IT engineer !
    %p
      He loves eating pancakes. And that's fucking everything.
      He has BLOG.
