---
layout: default
blog: true
--- 

%article.post{:class => 'color{{page.color}}'}
	%h2.post_title
		%a{:href => '{{ page.url }}'} {{ page.title }}
		%span.detail
			by {{ page.author }} and wrote
			%span{:title => '{{ page.date | date_to_rfc822 }}'}
				{{ page.date | date_to_long_string }}
	.contenu
		{{ content }}
