!!!
%html{:lang => "en"}
	%head
		{% haml meta.haml %}
		%title {{ page.title }}
		%meta{:name => "description", :content => "Vivien Leroy is an iOS developer from France, this is his website."}/
		%meta{:name => "author", :content => "Vivien Leroy"}/
		%link{:href => "/favicon.ico", :rel => "shortcut icon"}/
		%link{:href => "/style/style.css", :rel => "stylesheet", :type => "text/css"}/
		%script{:src => "/script/dynamics.min.js"}
		{% if page.blog == true or layout.blog == true %}
		%link{:href => "/style/spacegray.css", :rel => "stylesheet", :type => "text/css"}/
		{% endif %}
	%body
		{% haml header.haml %}
		
		{{ content }}

		{% haml footer.haml %}
